@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Signika+Negative:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: signika negative, sans-serif;
    font-weight: 300;
    
}

/* headings and logo */

header {
    background-color:  rgba(246, 239, 233, 1);
}

h1, h2 {
    font-family: Bebas Neue, sans-serif;
    text-transform: uppercase;
    color: rgba(241, 90, 34, 1);
   
}

#logo {
    float: left;
    font-size: 300%;
    margin-right: 40%;
    margin-left: 30px;
    margin-top: 20px;
}

/* navegation links*/

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    display: inline-block;
    text-align: right;
    list-style-type: none;
    margin-right: 25px;
}

#menu a {
text-decoration: none;
color: rgba(241, 90, 34, 1);
}

#menu a:hover {
    border-bottom: 1px solid rgba(241, 90, 34, 1);
}

/* background image */

#main-image {
    height: 430px;
    width: 100%;
    background: url('../images/moving-boxes.jpg') no-repeat center center;
}

#cover-picture {
    position: relative;
}

#cover {
    font-size: 130%;
    font-family: Bebas Neue, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color:white;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(241, 90, 34, .7);

    bottom: 100px;
    right:300px;

    position: absolute;
}

/* About us */

#about-us {
    height: 400px;
    max-width: 800px;
    margin: auto;
    padding: 40px; 
    text-align: center;
}

.title {
    text-align: center;
    margin-top: 10px;
    font-size: 230%;
    background-color: rgba(246, 239, 233, 1);
} 

.heading {
  padding: 40px;
}

.heading > p {
    font-weight: bold;
    font-size: 120%;
}


/* services */

#services {
    height: 700px;
    max-width: 800px;
    margin: auto;
    padding: 40px; 
    text-align: center;
}

.side-text {
    width: 60%;
    line-height:20px;
    clear: both;
    padding: 20px;
    margin-bottom: 50px;
    margin: 60px auto;
    background-color: rgba(241, 90, 34, .7);
    color:#ffff;
    border-radius: 5px;
}

.side-text > p {
    font-size: 100%;
}


hr {
    border-top: 1px solid #fff;
    width: 100%;
    margin: 5px 0;
}


/* form */

#contact {
    height: 400px;
    max-width: 800px;
    margin: auto;
    padding: 40px; 
    text-align: center;
}

label {
    margin-top: 10px;
    display:block;
}

input{
    width: 400px;
    height: 30px;
    border: 2px solid rgba(241, 90, 34, 1);
    border-radius: 10px;
}

textarea {
    width: 400px;
    height: 70px;
    margin-bottom: 30px;
    border: 2px solid rgba(241, 90, 34, 1);
    border-radius: 10px;
}

form {
    text-align: center;
    font-family: montserrat, sans-serif;
    font-size: 120%;
    color:rgba(241, 90, 34, 1);
    
}

input[type="submit"] {
    padding: .5em 1em;
    border-radius: 6px;
    background-color: rgba(241, 90, 34, 1);
    color: #fff;
}

input[type="submit"]:hover {
    background-color: #fff;
    color: rgba(241, 90, 34, 1);
}

/* icons and footer */

.icon {
    font-size: 32px;
    color:rgba(241, 90, 34, 1);
}

.icon:hover {
    font-size: 50px;
}

li{
    display: inline-block;
    margin: 1%;
    text-align: center;
    font-size: 100%;
}

li > p {
    font-weight: bold;
    font-size: 110%
}

footer {
    height: 150px;
    background-color: rgba(246, 239, 233, 1);;
}

.social-networks {
    text-align: center; 
}

/* Media queries */

/* For larger to medium screens size from 1200px wide and down */

@media screen and (max-width: 1200px) {
    #logo {
        margin-right: 30%;
    }

    #cover {
        padding-top: 40px;
        padding-left: 20px;
        bottom: 100px;
        right:150px;

    }
    
}

/* For medium screen sizes from 950px wide and down */

@media screen and (max-width: 950px) {
    #logo {
        margin-right: 20%;
    }
    #main-image {
        height: 430px;
        width: 100%;
        background: url('../images/moving-boxes-small-screens.jpg') no-repeat center center;
    }
       #cover {
        padding-top: 40px;
        padding-left: 20px;
        bottom: 100px;
        right:50px;

    }
}

/* For small screen sizes from 840px wide and down */

@media screen and (max-width: 840px) {
    #logo {
        margin-right: 10px;
    }

    #about-us {
        height: 500px;
    }
 
    #cover {
        padding-top: 40px;
        padding-left: 20px;
        bottom: 100px;
        right:50px;

    }
}


/* For small and mobiles screens from  670px wide and down*/

@media screen and (max-width: 670px) {
    #menu {
        clear: left;
        margin-left: 30px;
        line-height: 25px;
    }
    #about-us {
        height: 650px;
    }

    .heading > p {
        padding: 50px 0;
        text-align: center;
    }
    
    #services {
        height: 1050px;
    }
  
    input, textarea {
        width: fit-content;
    }

    li {
        font-size: 12px;
    }
    
    footer {
        padding-top: 30px;
        padding-bottom: 5px;
    }

}
