@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Signika+Negative:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: signika negative, sans-serif;
    font-weight: 300;
}

/* headings and logo */

h1, h2 {
    font-family: Bebas Neue, sans-serif;
    text-transform: uppercase;
    color: rgba(241, 90, 34, 1);
    background-color: rgba(246, 239, 233, 1);
}

#logo {
    float: left;
    font-size: 300%;
    margin-right: 60%;
    margin-left: 30px;
}

/* navegation links*/

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    display: inline-block;
    text-align: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
text-decoration: none;
color: rgba(241, 90, 34, 1);
}

#menu a:hover {
    border-bottom: 1px solid rgba(241, 90, 34, 1);
}

/* background image */

#main-image {
    height: 600px;
    width: 100%;
    background: url(../imges/trying.jpg) no-repeat center center;
}

/* About us */

#about-us {
    height: 600px;
}

#left-about{
    padding-top: 30px;
    width: 50%;
    float: left;
    background-color: blue;
}

#right-about {
   padding-top: 30px;
   width: 50%;
   float: right;
   background-color: red; 
}